*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #06131f;
}

main{
    background-color: #1d2d3c;
    height: 100vh;
}

a img{
    width: 3%;
}

div.logo{
    padding: 1rem 5rem;
}

div.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

div.box{
    background-color: #112030;
    width: calc(100% / 4);
    margin: 2rem;
    border-radius: .4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.img{
    margin-top: 1.3rem;
    display: flex;
    justify-content: center;
}

div.img img{
    width: 80%;
    align-self: center;
}

div.text{
    color: white;
    text-align: center;
}

h1{
    font-size: 1.5rem;
    padding-top: 1rem;
}

p{
    padding-bottom: 2rem;
}